body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -2rem;
}

p {
    font-family: 'Baskerville', serif;
    font-size: 1.1rem;
}

li {
    font-size: 24px;
}

.btn-cancel {
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px;
}

.carousel-item {
    height: 80vh;;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
}

.container {
    max-width: 1200px;
    margin-top: 20vh;
}

.container-message {
    width: auto;
    margin-top: 10vh;
    background-color: antiquewhite;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 1vw;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
    color: black;
    vertical-align: middle;
}


td a {
    width: 100px;
}

.form-style, .button-style {
    padding: 10px;
    margin: 10px;
}
