body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -2rem;
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px;
}

.carousel-item {
    height: 80vh;;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: start;
    color: black;
    vertical-align: middle;
}


td a {
    width: 100px;
}