{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <h1 class="sub-page-title">Delete Reservation</h1>
    <div class="col-md-4 col-sm-6 col-10 mx-auto">
      <div class="text-center">

        <p>Are you sure you want to delete this reservation?</p>
      </div>

      <form action="" method="POST">
        {% csrf_token %}
        <div class="text-center">
          <input type="submit" class="btn btn-danger btn-cancel" value="Delete" />
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-cancel">
            <a href="{% url 'reservation:view' %}">Cancel</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}