{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-container">
  <div class="hero-text">
    <h1>DOME</h1>
    <h3>Restaurant</h3>
    <h4>Welcome Up the Hill</h4>
    <a href="{% url 'reservation:view' %}" class="btn btn-primary">Book a Table</a>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1692851813/bg_ozi7po.jpg" class="d-block w-100"
          alt="Overview over Dome Resort">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1692851813/bg3_tixdux.jpg" class="d-block w-100"
          alt="Image of a hamburger">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1692851813/bg2_ejb8ln.jpg" class="d-block w-100"
          alt="image of a pizza">
      </div>
    </div>
  </div>

</div>

<div class="food-container">
  <div class="row green">
    <div class="col-md-6 white">
      <h2>Eat & Relax</h2>
      <p>
        From the restaurant terrace at our barefoot luxury Dome Lombok Resort, you will be able to enjoy the view of the
        fabled
        Tanjun An with its mile long white sandy beach while enjoying our farm-to-plate fresh food or a healthy juice
        tonic.
        ​<br><br>
        Come and see for yourself and enjoy the view!
      </p>
      <div class="col-md">
        <h6><strong>Opening Hours</strong></h6>
        <p>
          Mo - Fri: 09:00 - 22:00 <br>
          Sat - Sun: 08:00 - 22:00
        </p>
      </div>
      <img class="food-image-left img-fluid"
        src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693482547/2C5A2121_lncqdm.jpg"
        alt="Photo of a woman looking a the sunset">
    </div>
    <div class="col-md-6">
      <img class="food-image img-fluid"
        src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693481952/Dome_-_FOOD-14_dsbhrj.jpg"
        alt="Image of a pizza">
    </div>
  </div>
</div>



  {%endblock%}