{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-container">
  <div class="hero-text">
    <h1>DOME</h1>
    <h2>Restaurant</h2>
    <h3>Welcome Up the Hill</h3>
    <a href="{% url 'reservation:view' %}" class="btn btn-primary">Book a Table</a>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693914100/bg_mbj4fp.jpg" class="d-block w-100"
          alt="Overview over Dome Resort">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693914100/bg2_y9mqps.jpg" class="d-block w-100"
          alt="A hamburger with black buns">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693914100/bg3_kctsx9.jpg" class="d-block w-100"
          alt="A fresh pizza on a table">
      </div>
    </div>
  </div>

</div>

<div class="food-container">
  <div class="row green">
    <div class="col-md-6 white">
      <h4>Eat & Relax</h4>
      <p>
        From the restaurant terrace at our barefoot luxury Dome Lombok Resort, you will be able to enjoy the view of the
        fabled
        Tanjun An with its mile long white sandy beach while enjoying our farm-to-plate fresh food or a healthy juice
        tonic.
        ​<br><br>
        Come and see for yourself and enjoy the view!
      </p>
      <div class="col-md">
        <h5>Opening Hours</h5>
        <p>
          Mo - Fri: 09:00 - 22:00 <br>
          Sat - Sun: 08:00 - 22:00
        </p>
      </div>
      <img class="food-image-left img-fluid"
        src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693482547/2C5A2121_lncqdm.jpg"
        alt="A woman looking a the sunset">
    </div>
    <div class="col-md-6">
      <img class="food-image img-fluid"
        src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693481952/Dome_-_FOOD-14_dsbhrj.jpg"
        alt="A poké bowl and a smoothie standing on a table">
    </div>
  </div>
</div>



  {%endblock%}