{% extends "base.html" %} {% load static %} {% block content %} {% load cloudinary %}

<div class="menu-container">
  <div class="row">
    <h1 class="sub-page-title padding">Information</h1>
    <div class="col-md-6 padding">
      <h2 class="menu-h2">About Us</h2>
      <p>
        Dome Lombok is a small business located in the beautiful Gerupuk Bay,
        Lombok. We offer a variety of accommodation options to suit all budgets,
        from our luxury dome to our smaller friendly domes. We also offer a
        range of activities including surf lessons, yoga classes, fishing trips,
        snorkelling trips and more. We are passionate about providing our guests
        with a unique and memorable experience and we look forward to welcoming
        you to our little slice of paradise.
      </p>
      <h3 class="menu-h3"><strong>Opening Hours</strong></h3>
      <p>
        Mo - Fri: 09:00 - 22:00 <br>
        Sat - Sun: 08:00 - 22:00
      </p>

      <h3 class="menu-h3"><strong>Contact Us</strong></h3>
      <p>
        +46704 46 78 62 <br>
        info@dome-lombok.com
      </p>

      <h3 class="menu-h3"><strong>Find Us</strong></h3>
      <p>
        Up on the hill behind Gerupuk <br>
        Southern Lombok, Indonesia
      </p>
    </div>

    <div class="col-md-6">
      <img src="{% cloudinary "infoview.webp" %}"
        class="img-fluid info-img" alt="Sunset view from Dome" />
    </div>
  </div>
</div>

{%endblock%}