{% extends "base.html" %} {% load static %} {% block content %}

<div class="menu-container">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6 padding">
      <h2>About Us</h2>
      <p>
        Dome Lombok is a small business located in the beautiful Gerupuk Bay,
        Lombok. We offer a variety of accommodation options to suit all budgets,
        from our luxury dome to our smaller friendly domes. We also offer a
        range of activities including surf lessons, yoga classes, fishing trips,
        snorkelling trips and more. We are passionate about providing our guests
        with a unique and memorable experience and we look forward to welcoming
        you to our little slice of paradise.
      </p>
      <h6><strong>Opening Hours</strong></h6>
      <p>
        Mo - Fri: 09:00 - 22:00 <br />
        Sat - Sun: 08:00 - 22:00
      </p>

      <h6><strong>Contact Us</strong></h6>
      <p>
        +46704 46 78 62 <br />
        info@dome-lombok.com
      </p>

      <h6><strong>Find Us</strong></h6>
      <p>
        Up on the hill behind Gerupuk <br />
        Southern Lombok, Indonesia
      </p>
    </div>

    <div class="col-md-6">
      <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1693809035/Dome_-_View-15_arw5tu.jpg"
        class="img-fluid info-img" alt="Responsive image" />
    </div>
  </div>
</div>

{%endblock%}