{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="menu-container">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6 padding">
      <h5>SMOOTHIES</h5>
      <h6>HOLY MORINGA</h6>
      <p>Garden picked moringa, coconut meat, coconut water, turmeric, banana and cinnamon, lime</p>

      <h6>WAKE UP</h6>
      <p>Espresso shot (optional), frozen banana, plant milk, peanut butter, cacao, dates, pinch of Himalaya salt.</p>

      <h6>YELLOW FELLA</h6>
      <p>Pineapple, banana, tangerine, fresh mint</p>

      <h5>JUICE</h5>
      <h6>BEAUTY</h6>
      <p>Apple, cucumber, lime, mint</p>

      <h6>BEET ME UP</h6>
      <p>Carrot, ginger, apple, beetroot, tangerine</p>

      <h6>CLEANSE</h6>
      <p>Pineapple, spinach, parsley, celery, lime</p>

      <h5>OTHER</h5>
      <h6>HOMEMADE KOMBUCHA</h6>
      <p>Homebrewed Kombucha loaded with living enzymes, probiotics, amino acids, vitamins and minerals.</p>

      <p>Ask our staff for available flavors!</p>

      <p>We have cold fresh coconut, coffee, beetroot lattes, home made ginger lime mint tea, beer, drinks, cocktails
        and much more.</p>
    </div>
    <!-- Second Column -->
    <div class="col-md-6 padding">
      <h5>FOOD</h5>
      <h6>UMAMI CABBAGE GF DF VG</h6>
      <p>Grilled Roasted Cabbage served with vegan umami butter, scallions, pumpkin, nori, roasted hazelnuts, candlenut,
        sesame seeds and microgreens.</p>

      <h6>HASH STACK GF DF VG</h6>
      <p>Golden hash brown with fresh garlic sauteed spinach, baked tomatoes, avocado, lettuce, microgreens served with
        pesto dressing and roasted seeds.</p>

      <h6>CATCH OF THE DAY</h6>
      <p>Seared fish filet, avocado salad, coriander, sweet potato fries.</p>

      <h6>GRILLED PRAWNS</h6>
      <p>Marinated Prawns with avocado salad served with saffron lime butter sauce and sweet potato fries.</p>

      <h6>SEAFOOD NASI GORENG GF</h6>
      <p>Classic Seafood Indonesian Nasi goreng, fried rice, calamari, shrimp and fishcake.</p>

      <h6>TOUR DE LOMBOK GF</h6>
      <p>Taliwang flavored Mahi Mahi, tempe, beetroot rice, broccoli, lombok beans, red cabbage, fried spinach leaves,
        sambal and tempe crackers.</p>

      <h5>SOMETHING EXTRA</h5>
      <p>Rice</p>
      <p>Bread</p>
      <p>Beetroot tahini hummus with bread</p>
      <p>Sweet potato fries with chili or wasabi mayo.</p>
      <p>Roasted peanuts</p>
    </div>
  </div>
</div>




{%endblock%}