{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="menu-container">
  <div class="row">
    <!-- First Column -->
    <h1 class="sub-page-title padding">Menu</h1>
    <div class="col-md-6 column-padding">
      <h2 class="menu-h2">SMOOTHIES</h2>
      <h3 class="menu-h3">HOLY MORINGA</h3>
      <p>Garden picked moringa, coconut meat, coconut water, turmeric, banana and cinnamon, lime</p>

      <h3 class="menu-h3">WAKE UP</h3>
      <p>Espresso shot (optional), frozen banana, plant milk, peanut butter, cacao, dates, pinch of Himalaya salt.</p>

      <h3 class="menu-h3">YELLOW FELLA</h3>
      <p>Pineapple, banana, tangerine, fresh mint</p>

      <h2 class="menu-h2">JUICE</h2>
      <h3 class="menu-h3">BEAUTY</h3>
      <p>Apple, cucumber, lime, mint</p>

      <h3 class="menu-h3">BEET ME UP</h3>
      <p>Carrot, ginger, apple, beetroot, tangerine</p>

      <h3 class="menu-h3">CLEANSE</h3>
      <p>Pineapple, spinach, parsley, celery, lime</p>

      <h2 class="menu-h2">OTHER</h2>
      <h3 class="menu-h3">HOMEMADE KOMBUCHA</h3>
      <p>Homebrewed Kombucha loaded with living enzymes, probiotics, amino acids, vitamins and minerals.</p>

      <p>Ask our staff for available flavors!</p>

      <p>We have cold fresh coconut, coffee, beetroot lattes, home made ginger lime mint tea, beer, drinks, cocktails
        and much more.</p>
    </div>
    <!-- Second Column -->
    <div class="col-md-6 column-padding">
      <h2 class="menu-h2">FOOD</h2>
      <h3 class="menu-h3">UMAMI CABBAGE GF DF VG</h3>
      <p>Grilled Roasted Cabbage served with vegan umami butter, scallions, pumpkin, nori, roasted hazelnuts, candlenut,
        sesame seeds and microgreens.</p>

      <h3 class="menu-h3">HASH STACK GF DF VG</h3>
      <p>Golden hash brown with fresh garlic sauteed spinach, baked tomatoes, avocado, lettuce, microgreens served with
        pesto dressing and roasted seeds.</p>

      <h3 class="menu-h3">CATCH OF THE DAY</h3>
      <p>Seared fish filet, avocado salad, coriander, sweet potato fries.</p>

      <h3 class="menu-h3">GRILLED PRAWNS</h3>
      <p>Marinated Prawns with avocado salad served with saffron lime butter sauce and sweet potato fries.</p>

      <h3 class="menu-h3">SEAFOOD NASI GORENG GF</h3>
      <p>Classic Seafood Indonesian Nasi goreng, fried rice, calamari, shrimp and fishcake.</p>

      <h3 class="menu-h3">TOUR DE LOMBOK GF</h3>
      <p>Taliwang flavored Mahi Mahi, tempe, beetroot rice, broccoli, lombok beans, red cabbage, fried spinach leaves,
        sambal and tempe crackers.</p>

      <h2 class="menu-h2">SOMETHING EXTRA</h2>
      <p>Rice</p>
      <p>Bread</p>
      <p>Beetroot tahini hummus with bread</p>
      <p>Sweet potato fries with chili or wasabi mayo.</p>
      <p>Roasted peanuts</p>
    </div>
  </div>
</div>




{%endblock%}